@media (max-width: 768px) {
  .logo {
    font-size: 1.5rem;
  }
<<<<<<< HEAD
  .angle2 {
    right: -7px;
    top: -36px;
  }
  .angle1 {
    left: -12px;
    top: -39px;
  }
  .angle3 {
    left: 0;
    bottom: 0;
  }
  .angle4 {
    right: 0;
    bottom: 0;
  }
  .explore-btn {
    margin-top: 40px;
  }

  .start-project {
    margin-top: 35px;
  }
  .btn-project {
    display: inline-block;
    width: none;
    height: none;
  }
}

@media (max-width: 575px) {
  .call-us {
    margin-left: 0;
  }
=======
  .start-project {
  display: block;
  
}
>>>>>>> 3779c5078f4f992c124a64c8ec7875ada853f984
}
